@import "tailwindcss";

.bg-off-white{
    background-color: #F8F8F2;
}

.bg-dark-blue{
    background-color: #1E3A8A;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}